{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static "heldler/images/favicon.png" %}" type="image/x-icon" />
    <!-- Theme tittle -->
    <title>My START PAGE</title>

    <!-- Theme style CSS -->
    <link href="{%  static "heldler/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "heldler/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Header Top Area -->
    <div class="header_top_area">
        {% block header-info %}{% endblock header-info %}
    </div>
    <!-- Header Top Area -->

    <!-- Header Area -->
    {% block main-header-area %}{% endblock main-header-area %}
    <!-- Header Area -->

    {% block news-area %}{% endblock news-area %}

    {% block content %}
    {% endblock content %}

    <!-- Connect us -->
    {% block connect-us %}{% endblock connect-us %}
    <!-- End Connect us -->

    <!-- Footer Area -->
    {% block footer-area %}{% endblock footer-area %}
    <!-- End Footer Area -->

    <!-- Scroll Top Button -->
    <button class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </button>

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- jQuery v3.2.1 -->
    <script src="{% static "heldler/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "heldler/js/popper.min.js" %}"></script>
    <!-- Bootstrap v4.1.0 -->
    <script src="{% static "heldler/js/bootstrap.min.js" %}"></script>
    <!-- Extra Plugin -->
    <script src="{% static "heldler/vendors/animate-css/wow.min.js" %}"></script>

    <!-- Theme js / Custom js -->
    <script src="{% static "heldler/js/theme.js" %}"></script>
</body>
</html>
