{% extends "core/base.html" %}
{% load coretag %}
{% load staticfiles %}
{#{% load coretag %}#}
{#{% block content %}#}
{#    {% get_featured_entries %}#}
{#{% endblock content %}#}

{% block header-info %}
    <div class="container">
        <div class="header_top_inner d-sm-flex justify-content-sm-between">
            <ul class="left_info">
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="error.html">Error 404</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
            <ul class="header_social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                <li><a href="#" class="shop_btn"><i class="flaticon-shopping-bag"></i> <span>0</span></a></li>
                <li><a href="#" class="quote_btn">Get Free Quote <i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock header-info %}

{% block main-header-area %}
<header class="main_header_area" id="header">
       <div class="container">
            <div class="header_menu">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="{% static "heldler/images/logo.png" %}" alt=""></a>
                    <!-- Small Divice Menu-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported"  aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>

                    <div class="collapse navbar-collapse navbar_supported">
                        <ul class="navbar-nav">
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html" class="active">Home Version 1</a></li>
                                    <li><a href="index-2.html">Home Version 2</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-link" href="about.html">About us</a></li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">BLog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="news.html">News v1</a></li>
                                    <li><a href="news-2.html">News v2</a></li>
                                    <li><a href="news-3.html">News v3</a></li>
                                    <li><a href="news-details.html">News details </a></li>
                                    <li><a href="video-details.html">Video details </a></li>
                                    <li><a href="news-details-2.html">News details v2</a></li>
                                    <li><a href="news-details-3.html">News details v3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Page</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Sub Menu</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a href="#" class="active">-Sub Menu v1</a></li>
                                            <li><a href="#">-Sub Menu v2</a></li>
                                            <li><a href="#">-Sub Menu v3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="error.html">Error (404)</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-link" href="contact.html">Contact us</a></li>
                            <li class="search_box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type and hit enter">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <ul class="search_button_content nav">
                    <li class="dropdown search_dropbown">
                        <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <input type="text" placeholder="Search..">
                                <span><i class="fa fa-search"></i></span>
                            </li>
                        </ul>
                    </li>
                </ul>
           </div>
        </div>
    </header>
{% endblock main-header-area %}

<!-- Braking News Area -->
{% block news-area %}
{% get_news_area %}
{% endblock news-area %}
<!-- End Braking News Area -->

{% block content %}
    <!-- Home Banner Area -->

    <section class="home_banner_area">
        <div class="container">
            <div class="row home_banner_inner">
                {% get_carousel %}
                <!-- belarus_items -->
                <!--
                <div class="col-md-6">
                    <div class="belarus_items">
                        <img src="#" alt="">
                        <div class="belarus_content">
                            <h6 class="wow fadeInUp">March 15, 2018</h6>
                            <a href="news-details.html" class="heding wow fadeInUp" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a>
                            <a href="#" class="wow fadeInUp tag_btn" data-wow-delay="0.4s">Finance</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="belarus_items">
                        <img src="#" alt="">
                        <div class="belarus_content">
                            <h6 class="wow fadeInUp">March 15, 2018</h6>
                            <a href="news-details.html" class="heding wow fadeInUp" data-wow-delay="0.2s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</a>
                            <a href="#" class="wow fadeInUp tag_btn" data-wow-delay="0.4s">Business</a>
                        </div>
                    </div>
                </div>
                -->
                <!-- End belarus_items -->
            </div>
            <!--
            <ul class="row magazisne">
                <li class="col-md-4 col-sm-6"><a href="news-details.html">Earned $9,000,000 per Year with a Magazine Wesbite</a></li>
                <li class="col-md-4 col-sm-6"><a href="news-details.html">The man who builds up private libraries - book by rare book</a></li>
                <li class="col-md-4 col-sm-6"><a href="news-details.html">Futures Firm Cboe Filed for 6 Bitcoin ETFs This Week</a></li>
            </ul> -->
        </div>
    </section>
    <!-- End Home Banner Area -->

    <!-- Post section -->
    <section class="post_section">
        <div class="container">
            <div class="row post_section_inner">
                <!-- Left_sidebar -->
                <div class="col-lg-8 left_sidebar">
                    <!-- Tranding Area Post -->
                    <div class="row tranding_post_area">
                        <div class="col-12 tranding_tittle">
                            <h2>BUSINESS  Post</h2>
                            <a href="news.html">View More <i class="fa fa-arrow-right"></i></a>
                        </div>
                        {% get_left_popular_post %}
                        <!-- Tranding_post -->
                        <!-- <div class="col-md-6">
                            <div class="tranding_post">
                                <a href="news-details.html" class="post_img">
                                    <img src="#" alt="">
                                    <span class="tag_btn">Finance</span>
                                </a>
                                <div class="post_content">
                                    <a href="news-details.html" class="t_heding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</a>
                                    <h6>Dec 22, 2018 at 19:35 <span>|</span><a href="#">Mahfuz Riad</a></h6>
                                </div>
                            </div>
                        </div> -->
                        <!-- Tranding_post -->
                        <!-- <div class="col-md-6">
                            <div class="tranding_post">
                                <a href="news-details.html" class="post_img">
                                    <img src="#" alt="">
                                    <span class="tag_btn">Trading</span>
                                </a>
                                <div class="post_content">
                                    <a href="news-details.html" class="t_heding">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
                                    <h6>Dec 22, 2018 at 19:35 <span>|</span><a href="http://emran-khan.com/">Emran Khan</a></h6>
                                </div>
                            </div>
                        </div> -->
                        <!-- Tranding_post no img -->
                        <!-- <div class="col-md-6">
                            <div class="tranding_post post_bg">
                                <a href="news-details.html" class="t_heding">A Love Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                                <h6>Dec 22, 2018 at 19:35 <span>|</span><a href="http://emran-khan.com/">Emran Khan</a></h6>
                                <span class="tag_btn">Travel</span>
                            </div>
                        </div> -->
                        <!-- Tranding_post no img -->
                        <!-- <div class="col-md-6">
                            <div class="tranding_post post_bg">
                                <a href="news-details.html" class="t_heding">Inside Sports Building a Magazine for the Digital Eye Strain</a>
                                <h6>Dec 22, 2018 at 19:35 <span>|</span><a href="http://emran-khan.com/">Emran Khan</a></h6>
                                <span class="tag_btn">Tech</span>
                            </div>
                        </div> -->
                    </div>
                    {% get_left_middle_post %}
                    <!-- Watch It Area-->
                    <div class="row watch_it_area">
                        {% get_left_watch_post %}
                        <!-- Subscribe Area -->
                        <!--
                        <div class="col-12">
                           <div class="subscribe_area">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email address">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Subscribe</span>
                                    </div>
                                </div>
                           </div>
                        </div>
                        -->

                        <div class="col-12 feature_post_watch_area">
                            <div class="feature_tittle">
                                <h2>Watch It</h2>
                                <a href="video-details.html">View More <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="watch_video">
                                <a href="video-details.html" class="video_thumbnail">
                                    <img src="{% static "heldler/images/post/wathc-1.jpg" %}" alt="">
                                    <span class="play_btn"><i class="flaticon-play-button">3.16</i></span>
                                </a>
                                <a href="video-details.html" class="video_heding">Nullam neque leo, placerat eu ante vitae, vehicula rhoncus quam.</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="watch_video">
                                <a href="video-details.html" class="video_thumbnail">
                                    <img src="{% static "heldler/images/post/wathc-2.jpg" %}" alt="">
                                    <span class="play_btn"><i class="flaticon-play-button">5.16</i></span>
                                </a>
                                <a href="video-details.html" class="video_heding">Nullam neque leo, placerat eu ante vitae.</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="watch_video">
                                <a href="video-details.html" class="video_thumbnail">
                                    <img src="{% static "heldler/images/post/wathc-3.jpg" %}" alt="">
                                    <span class="play_btn"><i class="flaticon-play-button">2.56</i></span>
                                </a>
                                <a href="video-details.html" class="video_heding">Kristin Addis, our solo female travel expert,</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="watch_video">
                                <a href="video-details.html" class="video_thumbnail">
                                    <img src="{% static "heldler/images/post/wathc-4.jpg" %}" alt="">
                                    <span class="play_btn"><i class="flaticon-play-button">4.56</i></span>
                                </a>
                                <a href="video-details.html" class="video_heding">Nullam neque leo, placerat eu ante vitae, vehicula.</a>
                            </div>
                        </div>
                        <!--
                        <div class="col-md-6">
                            <div class="tranding_post wathc_text">
                                <a href="news-details.html" class="t_heding">Stocks Climb as Yields Hold Dollar Falls: Markets Wrap</a>
                                <h6><span class="tag_btn">Technology</span>  january 21, 2018</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tranding_post wathc_text">
                                <a href="news-details.html" class="t_heding">Nullam neque leo, placerat eu ante vitae, vehicula.</a>
                                <h6><span class="tag_btn">Trending</span>  April 25, 2018</h6>
                            </div>
                        </div> -->
                    </div>

                    <!-- Our Latest  Articles -->
                    <div class="row tranding_post_area fashion_post">
                        <div class="col-12">
                            <div class="feature_tittle">
                                <h2>Fashion</h2>
                                <a href="news-2.html">View More <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        {% get_left_under_post %}
                        <!-- font_load_post -->
                        <!--
                        <div class="col-12">
                           <div class="font_load_post m-0 ">
                                <img src="heldler/images/post/font-load-3.jpg" alt="">
                                <div class="post_caption">
                                    <a href="#" class="wow fadeInUp tag_btn">Travel</a>
                                    <a href="news-details.html" class="wow fadeInUp heding heding_bg" data-wow-delay="0.2s">Neque porro quisquam est qui dolorem</a>
                                </div>
                           </div>
                        </div> -->
                    </div>
                </div>
                <!-- End left_sidebar -->
                <div class="col-lg-4 right_sidebar">
                    <div class="btc_accordion">
                        <div class="item">
                            <a href="#" data-toggle="collapse" data-target="#collapseOne">Bitcoin(24h)</a>
                            <div id="collapseOne" class="collapse show" data-parent=".btc_accordion">
                               <div class="accordion_content">
                                    <h2>$15212.35</h2>
                                    <h4>EUR: €12632.32 <br>GBP: £11213.76</h4>
                                    <ul class="btc_list">
                                        <li>$15212</li>
                                        <li>$14212</li>
                                        <li>$13212</li>
                                    </ul>
                               </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapseTwo">Etherume <span>$740.34</span></a>
                            <div id="collapseTwo" class="collapse" data-parent=".btc_accordion">
                               <div class="accordion_content">
                                    <h2>$15212.35</h2>
                                    <h4>EUR: €12632.32 <br>GBP: £11213.76</h4>
                                    <ul class="btc_list">
                                        <li>$15212</li>
                                        <li>$14212</li>
                                        <li>$13212</li>
                                    </ul>
                               </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree">Zcash <span>$546.83</span></a>
                            <div id="collapseThree" class="collapse" data-parent=".btc_accordion">
                               <div class="accordion_content">
                                    <h2>$15212.35</h2>
                                    <h4>EUR: €12632.32 <br>GBP:  £11213.76</h4>
                                    <ul class="btc_list">
                                        <li>$15212</li>
                                        <li>$14212</li>
                                        <li>$13212</li>
                                    </ul>
                               </div>
                            </div>
                        </div>
                    </div>

                    <!-- Latest Bitcoin News -->
                    <div class="latest_news_widget">
                        <h2>Trending News</h2>
                        <div class="widget">
                            <a href="news-details.html"><img src="{% static "heldler/images/post/lnw-1.jpg" %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Envion – Digital Currency Mint in Exploits World’s Lowest Cost Power</a>
                        </div>
                        <div class="widget">
                            <a href="news-details.html"><img src="{% static "heldler/images/post/lnw-2.jpg" %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Bitcoin Cash Price Hits Record $2,500 to pierce $300 billion for the first time</a>
                        </div>
                        <div class="widget border-0">
                            <a href="news-details.html"><img src="{% static "heldler/images/post/lnw-3.jpg" %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">HOLD the Kitten! New Year Gift for Every Crypto Cuttie</a>
                        </div>
                        <a href="news.html" class="load_more_btn">Load more..</a>
                    </div>
                    <!-- Text widget -->
                    <div class="text_widget_area">
                       <div class="text_widget">
                            <a href="news-details.html">Nam ornare ultricies dui in finibus. Vivamus in neque vel ipsum accumsan pharetra. </a>
                            <h6>10:29, Press Releases</h6>
                       </div>
                       <div class="text_widget">
                            <a href="news-details.html">Phasellus mauris tellus, suscipit ac lectus vitae, faucibus vehicula diam. </a>
                            <h6>12:59, Press Releases</h6>
                       </div>
                       <div class="text_widget">
                            <a href="news-details.html">Buffett Warns Investors That Safe-Looking Bonds Can Be Risky</a>
                            <h6>2:37, Press Releases</h6>
                       </div>
                       <div class="text_widget m-0">
                            <a href="news-details.html">Nam ornare ultricies dui in finibus. Vivamus in neque vel ipsum accumsan pharetra. </a>
                            <h6 class="padding-bottom-0">11:38, Press Releases</h6>
                       </div>
                    </div>
                    <!-- Advertisement -->
                    <div class="advertisement">
                        <a href="#"><img src="{% static "heldler/images/advertisement-1.jpg" %}" alt=""></a>
                    </div>
                    <!-- Video widget -->
                    <!--
                    <div class="video_widget">
                        <div class="watch_video">
                            <a href="video-details.html" class="video_thumbnail">
                                <img src="{% static "heldler/images/post/wathc-5.jpg" %}" alt="">
                                <span class="play_btn"><i class="flaticon-play-button">5.16</i></span>
                            </a>
                            <a href="video-details.html" class="video_heding">The easiest way to buy Bitcoin and Ethereum</a>
                        </div>
                    </div>
                    -->
                    <!-- Advertisement -->
                    <div class="advertisement_2">
                        <a href="#">
                            <img src="{% static "heldler/images/advertisement-2.jpg" %}" alt="">
                        </a>
                    </div>
                    <!-- Social Sidget -->
                    <ul class="social_widget">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- Tabs Widget -->
                    <div class="tabs_widge">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="active" id="nav-home-tab" data-toggle="tab" href="#technology" role="tab">Technology</a>
                            <a id="nav-profile-tab" data-toggle="tab" href="#gaming" role="tab">Gaming</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active text_widget_area" id="technology" role="tabpanel">
                                <!-- Text widget -->
                               <div class="text_widget">
                                    <a href="news-details.html">How to secure peace of mind and income that beats banks</a>
                                    <h6>10:29, Press Releases <span class="tech">Technology</span></h6>
                               </div>
                               <div class="text_widget">
                                    <a href="news-details.html">Token Launch Date Announced for Dether, World’s First Peer-To-Peer Ecosystem of Crypto Buyers, Sellers, and Shops</a>
                                    <h6>12:59, Press Releases <span class="hot">Hot</span></h6>
                               </div>
                               <div class="text_widget">
                                    <a href="news-details.html">Buffett Warns Investors That Safe-Looking Bonds Can Be Risky</a>
                                    <h6>2:37, Press Releases <span class="gaming">Gaming</span></h6>
                               </div>
                               <div class="text_widget m-0">
                                    <a href="news-details.html">Falls Below $16,400, Loses Nearly 15% in Major Correction</a>
                                    <h6 class="padding-bottom-0">11:38, Press Releases <span>Fashion</span></h6>
                               </div>
                            </div>
                            <div class="tab-pane fade text_widget_area" id="gaming" role="tabpanel">
                                <!-- Text widget -->
                               <div class="text_widget">
                                    <a href="news-details.html">Buffett Warns Investors That Safe-Looking Bonds Can Be Risky</a>
                                    <h6>2:37, Press Releases <span class="gaming">Gaming</span></h6>
                               </div>
                               <div class="text_widget m-0">
                                    <a href="news-details.html">Falls Below $16,400, Loses Nearly 15% in Major Correction</a>
                                    <h6 class="padding-bottom-0">11:38, Press Releases <span>Fashion</span></h6>
                               </div>
                               <div class="text_widget">
                                    <a href="news-details.html">How to secure peace of mind and income that beats banks</a>
                                    <h6>10:29, Press Releases <span class="tech">Technology</span></h6>
                               </div>
                               <div class="text_widget">
                                    <a href="news-details.html">Token Launch Date Announced for Dether, World’s First Peer-To-Peer Ecosystem of Crypto Buyers, Sellers, and Shops</a>
                                    <h6>12:59, Press Releases <span class="hot">Hot</span></h6>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Post section -->
{% endblock content %}

{% block connect-us %}
    <section class="connect_with_us">
        <div class="container">
            <h2>Connect with us</h2>
            <ul class="contact_with_socail">
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
{% endblock connect-us %}

{% block footer-area %}
<footer class="footer_area">
        <div class="container">
            <div class="footer_inner row">
                <div class="col-lg-5 col-md-6 footer_logo">
                    <a href="index.html"><img src="{% static "heldler/images/logo.png" %}" alt=""></a>
                    <p>Established in 2013 as the first cloud mining provider, Blog has become a multi-functional Blog  Categories, trusted by over a million users.</p>
                    <address>
                        <span>LOCATION</span>
                        <p>12/4  New Yourk R Block  Street 2101 USA</p>
                    </address>
                </div>

                <div class="col-lg-5 col-md-6">
                   <div class="subscribe">
                        <h4>Subscribe</h4>
                        <p>Sign up for our mailing list to get latest updates and offers</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
                            </div>
                        </div>
                        <h6>Working Hours :  Monday-Saturday <span>Close : Sunday</span></h6>
                   </div>
                </div>

                <div class="col-lg-2 col-md-3 resources">
                    <h4>Short Link</h4>
                    <ul class="resources_list">
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Bug  Bounty Program</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>Copyright © 2018 <a href="#">Mora</a> Developed by <a href="http://www.bootstrapmb.com/">Themazin</a></p>
        </div>
    </footer>
{% endblock footer-area %}