<div class="news_left_sidebar">
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 28, 2017</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-1.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 27, 2017</h6>
                            <a href="news-details.html" class="news_heding">EU Raises Stakes for Trump by Aiming Levies at GOP Heartland</a>
                            <img src="images/post/news-2.jpg" alt="">
                            <p>The European Union is preparing punitive tariffs on iconic U.S. brands produced in key Republican constituencies, raising political pressure on President Donald Trump to ditch his plan for taxing steel imports.</p>
                            <a href="#" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 25, 2016</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-3.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 24, 2016</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-4.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 24, 2016</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-5.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 24, 2016</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-6.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <!-- News Item -->
                        <div class="news_item">
                            <h6>February 24, 2016</h6>
                            <a href="news-details.html" class="news_heding">The Spark Camera Remote Opens The Creative Realm of Possibilities</a>
                            <img src="images/post/news-7.jpg" alt="">
                            <p>When you're getting active, it's not always easy to press the shutter on your DSLR. But with the Spark Camera Remote, you can trigger your camera from up to 100 feet away via your smartphone The remote also unlocks some cool extra features, including timelapse photography</p>
                            <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                        </div>
                        <div class="col-12 p-0">
                            <nav class="pagination_area">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link active" href="#" tabindex="-1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>