<div class="news_left_sidebar">
    {% for entry in entry_list %}
    <!-- News Item -->
    <div class="news_item">
        <!-- <h6>February 28, 2017</h6> -->
        <h6>{{ entry.start_publication|date:"N d, Y" }}</h6>
        <a href="news-details.html" class="news_heding">{{ entry.title }}</a>
        <img src="images/post/news-1.jpg" alt="">
        <p>{{ entry.content }}</p>
        <a href="news-details.html" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
    </div>
    {% endfor %}
    <div class="col-12 p-0">
        <nav class="pagination_area">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link active" href="#" tabindex="-1">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>